.page {
  background: url("https://images.unsplash.com/photo-1510284876186-b1a84b94418f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.merry {
  font-size: 9.5rem;
  font-family: great vibes;
  font-weight: 100;
  color: rgb(240, 18, 18);
  text-align: center;
  position: relative;
  top: 22rem;
  margin: 0;
}

.surprise {
  font-size: 3rem;
  font-family: great vibes;
  font-weight: 100;
  color: rgb(240, 18, 18);
  text-align: center;
  position: relative;
  top: 24rem;
  margin: 0;
}

.buttonSurprise {
  background-color: #eee;
  font-family: great vibes;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  width: 7em;
  border-radius: 1rem;
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.buttonSurprise:active {
  color: white;
  transform: translateY(0.2rem);
}

.buttonSurprise:hover:not(:disabled) {
  background: rgb(255, 0, 0);
  color: white;
}

.buttonSurprise:disabled {
  cursor: auto;
  color: grey;
}

.buttonSurprisee {
  display: flex;

  justify-content: center;
  font-size: 3rem;
  text-align: center;
  position: relative;
  top: 26rem;
  margin: 0;
  text-decoration: none;
}
