.nav {
  top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: #29292900;
}

.nav-link {
  text-decoration: none;
  color: #292929;
  margin: 0;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
  color: #ff0000;
}

.nav-logo {
  width: 30px;
}
