.tout {
  background: url("../public/Background-about.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.boule {
  background: url("../public/Boules-about.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 65%;
}
