.page {
  background: url("../public/accueil.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.merry {
  font-size: 9.5rem;
  font-family: great vibes;
  color: rgb(240, 18, 18);
  text-align: center;
  position: relative;
  top: 25rem;
  margin: 0;
}
